<footer>
  <div class="divider-icon">
    <i class="fa-solid fa-paw"></i>
  </div>

  <div class="uk-padding-small">
    <div>
      <a href="tel:070-1890-4727" class="uk-hidden@m uk-icon-button uk-margin-small-right c-theme-dark" title="お電話(070-1890-4727)" uk-tooltip>
        <i class="fa-solid fa-phone"></i>
      </a>
      <!-- <a href="https://lin.ee/WX1ekdO" class="uk-icon-button uk-margin-small-right" title="公式LINEアカウント" uk-tooltip>
        <i class="fa-brands fa-line"></i>
      </a> -->
      <a href="https://www.instagram.com/pet_sitter_musubi/" class="uk-icon-button uk-margin-small-right" title="公式Instagramアカウント" uk-tooltip>
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>