<gate src="/components/ご利用の流れ.html"></gate>

<div>
  <form Contact class="uk-form-stacked">
    <legend class="uk-legend">Webフォーム</legend>
    <div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">お名前</span>
          <i class="usn fa-asterisk c-red uk-text-small uk-margin-small-left">必須</i>
          <input name="Name" class="uk-input radius" type="text" maxlength="150" placeholder="お名前を入力してください" required>
        </label>
      </div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">ご住所</span>
          <i class="usn fa-asterisk c-red uk-text-small uk-margin-small-left">必須</i>
          <input name="Location" class="uk-input radius" type="text" maxlength="150" placeholder="ご住所を入力してください" required>
        </label>
      </div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">メールアドレス</span>
          <i class="usn fa-asterisk c-red uk-text-small uk-margin-small-left">必須</i>
          <input name="Contact" class="uk-input radius" type="email" maxlength="150" placeholder="メールアドレスを入力してください" required>
        </label>
      </div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">電話番号</span>
          <input name="Tel" class="uk-input radius" type="tel" maxlength="150" placeholder="電話番号を入力してください">
        </label>
      </div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">カウンセリング希望日時（初回の方のみ）</span>
          <textarea name="Booking" class="uk-textarea radius" rows="5" placeholder="カウンセリング希望日時（複数可）を入力してください" aria-label="Textarea"></textarea>
        </label>
      </div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">ペットの種類・頭数</span>
          <textarea name="Group" class="uk-textarea radius" rows="5" placeholder="ペットの種類・頭数を入力してください" aria-label="Textarea"></textarea>
        </label>
      </div>
      <div class="uk-margin">
        <label>
          <span class="uk-text-bold">その他のお問い合わせ</span>
          <textarea name="Other" class="uk-textarea radius" rows="5" placeholder="その他のお問い合わせの場合はこちらにご入力ください" aria-label="Textarea"></textarea>
        </label>
      </div>
    </div>
    <div class="divider-icon">
      <i class="fa-solid fa-paw"></i>
    </div>
    <div class="uk-margin uk-text-right">
      <button CheckForm type="button" class="uk-button uk-button-default uk-text-bold radius bg-theme-dark c-theme-white">入力内容を確認する</button>
    </div>
  </form>

  <div id="Modal-CheckForm" uk-modal>
    <div class="uk-modal-dialog radius">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <div class="uk-modal-header radius-top">
        <div class="uk-modal-title">ご入力内容</div>
      </div>

      <div class="uk-modal-body" uk-overflow-auto>
        <div class="uk-margin">
          <div class="uk-text-bold">お名前</div>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Name].value" to="this.textContent" events='["input"]'></sync-view>
          </div>
        </div>
        <div class="uk-margin">
          <span class="uk-text-bold">ご住所</span>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Location].value" to="this.textContent" events='["input"]'></sync-view>
          </div>
        </div>
        <div class="uk-margin">
          <span class="uk-text-bold">メールアドレス</span>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Contact].value" to="this.textContent" events='["input"]'></sync-view>
          </div>
        </div>
        <div class="uk-margin">
          <span class="uk-text-bold">電話番号</span>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Tel].value" to="this.textContent" events='["input"]' default="なし"></sync-view>
          </div>
        </div>
        <div class="uk-margin">
          <span class="uk-text-bold">カウンセリング希望日時</span>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Booking].value" to="this.textContent" events='["input"]' style="white-space: pre;" default="なし"></sync-view>
          </div>
        </div>
        <div class="uk-margin">
          <span class="uk-text-bold">ペットの種類・頭数</span>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Group].value" to="this.textContent" events='["input"]' style="white-space: pre;" default="なし"></sync-view>
          </div>
        </div>
        <div class="uk-margin">
          <span class="uk-text-bold">その他のお問い合わせ</span>
          <div class="uk-margin-small-left">
            <sync-view from="form[Contact] [name=Other].value" to="this.textContent" events='["input"]' style="white-space: pre;" default="なし"></sync-view>
          </div>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right radius-bottom">
        <button CheckForm type="button" class="uk-button uk-button-default uk-text-bold radius uk-modal-close uk-margin-small-right">入力内容を修正する</button>
        <button CheckForm type="button" class="uk-button uk-button-default uk-text-bold radius bg-theme-dark c-theme-white">送信</button>
      </div>

    </div>
  </div>
</div>