<div inquiry class="uk-section uk-section-large">
  <h2 class="uk-heading-line uk-text-center uk-text-bold c-theme-dark">
    <span>
      <i class="fa-solid fa-paw uk-margin-small-right"></i>
      <span>お問い合わせ・ご相談</span>
      <i class="fa-solid fa-paw uk-margin-small-left"></i>
    </span>
  </h2>
  <div class="uk-container uk-container-small">
    <div class="uk-text-center">
      <p class="uk-text-meta">ご相談は無料にてお承りしております</p>
      <img class="usn" src="/media/logo.png">
      <div class="uk-margin">
        <p class="uk-text-meta">お電話、公式SNS、またはWebフォームからお問い合わせください</p>
        <div class="uk-visible@m">
          <div class="uk-flex uk-flex-middle uk-flex-center">
            <span class="uk-text-lead">
              <div class="uk-flex uk-flex-middle">
                <i class="fa-solid fa-phone uk-margin-small-right"></i>
                <span>070-1890-4727</span>
              </div>
            </span>
            <i class="usn c-theme-main uk-margin-small-left uk-margin-small-right">|</i>
            <a class="uk-button uk-button-text uk-text-lead" href="https://lin.ee/WX1ekdO">
              <div class="uk-flex uk-flex-middle">
                <i class="fa-brands fa-line uk-margin-small-right"></i>
                <span>公式LINE</span>
              </div>
            </a>
            <i class="usn c-theme-main uk-margin-small-left uk-margin-small-right">|</i>
            <a class="uk-button uk-button-text uk-text-lead" href="https://www.instagram.com/pet_sitter_musubi/">
              <div class="uk-flex uk-flex-middle">
                <i class="fa-brands fa-instagram uk-margin-small-right"></i>
                <span>公式Instagram</span>
              </div>
            </a>
          </div>
        </div>
        <div class="uk-hidden@m">
          <a href="tel:07018904727" class="uk-icon-button c-theme-dark" title="お電話(070-1890-4727)" uk-tooltip>
            <i class="fa-solid fa-phone"></i>
          </a>
          <i class="usn c-theme-main uk-margin-small-left uk-margin-small-right">|</i>
          <a href="https://lin.ee/WX1ekdO" class="uk-icon-button" title="公式LINEアカウント" uk-tooltip>
            <i class="fa-brands fa-line"></i>
          </a>
          <i class="usn c-theme-main uk-margin-small-left uk-margin-small-right">|</i>
          <a href="https://www.instagram.com/pet_sitter_musubi/" class="uk-icon-button" title="公式Instagramアカウント" uk-tooltip>
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>

      </div>
      <div class="uk-margin">
        <div>
          <a class="uk-button uk-button-text" href="#modal-ServiceFlow" uk-toggle>
            <i class="fa-solid fa-dog uk-margin-small-right"></i>
            <span>ご利用の流れ</span>
          </a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="#">
            <i class="fa-solid fa-circle-question uk-margin-small-right"></i>
            <span>よくあるご質問はこちら</span>
          </a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="#">
            <i class="fa-solid fa-file-shield uk-margin-small-right"></i>
            <span>個人情報の取り扱いに関する方針</span>
          </a>
        </div>
      </div>
    </div>
    <div class="uk-card uk-card-default radius">
      <div class="uk-card-body">
        <gate src="/components/form.html"></gate>
      </div>
    </div>
  </div>
</div>