<nav SideNav class="uk-flex uk-flex-column uk-flex-between bg-theme-white">
  <div>
    <div SideNavHeader class="bg-theme-white">
      <div class="uk-flex uk-flex-middle uk-padding-small">
        <span class="uk-text-default uk-text-bold uk-margin-small-left">結 - Musubi</span>
      </div>
      <hr class="uk-margin-small uk-margin-remove">
    </div>
    <div class="uk-text-bold" SideNavMenu>
      <div>
        <a NavItem class="uk-padding-small radius-right" href="/">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>Home</span>
          </div>
        </a>
        <a NavItem class="uk-padding-small radius-right" href="/staff.html">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>スタッフのご紹介</span>
          </div>
        </a>
        <a NavItem class="uk-padding-small radius-right" href="#modal-ServiceFlow" uk-toggle>
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>ご利用の流れ</span>
          </div>
        </a>
        <a NavItem class="uk-padding-small radius-right">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>ご利用規約</span>
          </div>
        </a>
        <a NavItem class="uk-padding-small radius-right" href="/privacypolicy.html">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>プライバシーポリシー</span>
          </div>
        </a>
        <span NavItem Focus="contact" class="uk-padding-small radius-right">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>お問い合わせ・ご相談</span>
          </div>
        </span>
        <a NavItem class="uk-padding-small radius-right" href="/faq.html">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-solid fa-paw uk-margin-small-right"></i>
            <span>よくあるご質問</span>
          </div>
        </a>
        <a NavItem class="uk-padding-small radius-right" href="https://lin.ee/WX1ekdO">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-brands fa-line uk-margin-small-right"></i>
            <span>公式LINE</span>
          </div>
        </a>
        <a NavItem class="uk-padding-small radius-right" href="https://www.instagram.com/pet_sitter_musubi/">
          <div class="uk-flex uk-flex-middle">
            <i class="fa-brands fa-instagram uk-margin-small-right"></i>
            <span>公式Instagram</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div SideNavFooter class="bg-theme-white">
    <hr class="uk-margin-small uk-margin-remove">
    <div class="uk-flex uk-flex-middle uk-padding-small uk-text-meta">
      <gate src="/components/copyright.html"></gate>
    </div>
  </div>
</nav>