<div>
  <div id="modal-ServiceFlow" uk-modal>
    <div class="uk-modal-dialog radius">

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <div class="uk-modal-header radius-top">
        <h2 class="uk-modal-title uk-text-center c-theme-dark">
          <i class="fa-solid fa-paw uk-margin-small-right"></i>
          <span>ご利用の流れ</span>
          <i class="fa-solid fa-paw uk-margin-small-left"></i>
        </h2>
      </div>

      <div class="uk-modal-body" uk-overflow-auto>
        <div class="uk-margin">
          <div class="uk-card uk-card-default circle">
            <div class="uk-card-body bg-theme-light circle">
              <h4 class="uk-card-title uk-flex uk-flex-middle c-theme-dark">
                <span class="uk-margin-small-right">1.</span>
                <span>初回カウンセリング</span>
              </h4>
            </div>
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-card uk-card-default circle">
            <div class="uk-card-body bg-theme-light circle">
              <h4 class="uk-card-title uk-flex uk-flex-middle c-theme-dark">
                <span class="uk-margin-small-right">2.</span>
                <span>鍵の受け渡し</span>
              </h4>
            </div>
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-card uk-card-default circle">
            <div class="uk-card-body bg-theme-light circle">
              <h4 class="uk-card-title uk-flex uk-flex-middle c-theme-dark">
                <span class="uk-margin-small-right">3.</span>
                <span>お世話当日</span>
              </h4>
            </div>
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-card uk-card-default circle">
            <div class="uk-card-body bg-theme-light circle">
              <h4 class="uk-card-title uk-flex uk-flex-middle c-theme-dark">
                <span class="uk-margin-small-right">4.</span>
                <span>レポート</span>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-modal-footer uk-text-center radius-bottom">
        <button class="uk-button uk-button-default uk-button-large uk-text-bold uk-modal-close radius bg-theme-main c-theme-dark" type="button" Focus="contact">お問い合わせ・ご相談</button>
      </div>
    </div>
  </div>
</div>