<div>
  <div class="uk-margin">
    <div class="uk-card uk-card-default circle">
      <div class="uk-card-body bg-theme-light circle">
        <h4 class="uk-card-title uk-flex uk-flex-middle">
          <span class="uk-margin-small-right">1.</span>
          <span>初回カウンセリング</span>
        </h4>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-card uk-card-default circle">
      <div class="uk-card-body bg-theme-light circle">
        <h4 class="uk-card-title uk-flex uk-flex-middle">
          <span class="uk-margin-small-right">2.</span>
          <span>鍵の受け渡し</span>
        </h4>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-card uk-card-default circle">
      <div class="uk-card-body bg-theme-light circle">
        <h4 class="uk-card-title uk-flex uk-flex-middle">
          <span class="uk-margin-small-right">3.</span>
          <span>お世話当日</span>
        </h4>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-card uk-card-default circle">
      <div class="uk-card-body bg-theme-light circle">
        <h4 class="uk-card-title uk-flex uk-flex-middle">
          <span class="uk-margin-small-right">4.</span>
          <span>レポート</span>
        </h4>
      </div>
    </div>
  </div>
</div>